<div class="footer">
    <div class="contenidoFooter">
      <div class="bloqueFooter">
        <div class="textDitesi">{{footerTitle}}</div>
        <div class="textDitesiCompleto">{{footerDescription}}</div>
      </div>
      <div class="bloqueFooter">
        <div class="textContacto"><i class="material-icons iconosContacto">mail_outline</i>{{footerEMail}}</div>
        <div class="textContacto"><i class="material-icons iconosContacto">phone</i>{{footerTelephone}}</div>
        <div class="textContacto"><i class="material-icons iconosContacto">place</i>{{footerAddress}}</div>
      </div>
      <div class="bloqueFooter"><img class="logoFCE" src={{footerLogo}} height="" width=""></div>
    </div>

    <div class="footerAlternativo">
      <img class="logoFCE" src={{footerLogo}} height="" width="">
    </div>

</div>
