<div class="footer">
    <div class="contenidoFooter">
      <div class="bloqueFooter">
        <div class="textDitesi">DiTeSI</div>
        <div class="textDitesiCompleto">Dirección de Tecnología y Sistemas Informáticos</div>
      </div>
      <div class="bloqueFooter">
        <div class="textContacto"><i class="material-icons iconosContacto">mail_outline</i>ditesi@econo.unlp.edu.ar</div>
        <div class="textContacto"><i class="material-icons iconosContacto">phone</i>+54 (0221) 4236769 Interno 123</div>
        <div class="textContacto"><i class="material-icons iconosContacto">place</i>Calle 6 Nº 777 | 1º subsuelo</div>
      </div>
      <div class="bloqueFooter"><img class="logoFCE" src="/assets/img/logo_fce.png" height="" width=""></div>
    </div>

    <div class="footerAlternativo">
      <img class="logoFCE" src="/assets/img/logo_fce.png" height="" width="">
    </div>

</div>
