.footer {
  width: 100%;
  background-color: #eee;
  padding-bottom: 40px;
}

.contenidoFooter {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.bloqueFooter {
  width: 33%;
}

.contenidoFooter a {
  text-decoration: none;
  font-size: 14px;
  color: #3E444A;
}

.textDitesi {
  font-size: 23px;
  font-weight: 100;
}

.textDitesiCompleto {
  font-size: 16px;
  margin-bottom: 5px;
  color: #3E444A;
  font-weight: 100;

}

.textContacto {

 font-size: 14px;
  font-weight: 100;
}

.iconosContacto {
  text-align: center;
  color: grey;
  font-size: 16px;
  margin-right: 5px;
  font-weight: 200;

}
