* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fce {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  height: 100%;
}

.cabecera {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  color: white;
  background-color: #3B4248;
}

.btnFullScreen {
  color: rgba(255,255,255,.5);
}

.nombreUsuario {
  margin-left: 5px;
}

.contenido {
  height: 100%;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.contenedorApps {
    padding: 40px;
    max-width: 1000px;
}

.btn {
    color: rgba(0,0,0,0.87);
    /* background-color:#eee; */
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.subBtn {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  margin-top: 5px;

}

.logoSistema {
  height: 60px;
  width: 60px;
}

.textBtn {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 13px;
}

.footer {
  width: 100%;
  background-color: #eee;
  padding-bottom: 40px;
}

.contenidoFooter {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.bloqueFooter {
  width: 33%;
}

.contenidoFooter a {
  text-decoration: none;
  font-size: 14px;
  color: #3E444A;
}

.textDitesi {
  font-size: 23px;
  font-weight: 100;
}

.textDitesiCompleto {
  font-size: 16px;
  margin-bottom: 5px;
  color: #3E444A;
  font-weight: 100;

}

.textContacto {

 font-size: 14px;
  font-weight: 100;
}

.iconosContacto {
  text-align: center;
  color: grey;
  font-size: 16px;
  margin-right: 5px;
  font-weight: 200;

}

@media screen and (min-width: 1600px) {
  .contenedorApps {
      max-width: 1200px;
  }
  .btn {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .logoSistema {
    height: 70px;
    width: 70px;
  }
  .textBtn {
      margin-top: -5px;
      margin-bottom: 5px;
      font-size: 16px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 80px;

  }
  .textDitesi {
    font-size: 30px;
    font-weight: 100;
  }

  .textDitesiCompleto {
    font-size: 18px;
}

  .textContacto {
   font-size: 16px;
  }

  .iconosContacto {
    font-size: 20px;
  }

}

@media screen and (max-width: 768px) {
  .contenedorApps {
    width: 100%;
    padding: 10px;
 }
 .contenidoFooter {
   padding: 20px;
   flex-direction: column;
   -webkit-flex-direction: column;
   -moz-flex-direction: column;
   width: 100%;
 }
 .bloqueFooter {
     width: 100%;
     margin-bottom: 20px;
 }

}
