
.contenido {
  height: 100%;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.contenedorApps {
    padding: 40px;
    max-width: 1000px;
}

.btn {
    color: rgba(0,0,0,0.87);
    /* background-color:#eee; */
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.subBtn {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  margin-top: 5px;

}

.logoSistema {
  height: 60px;
  width: 60px;
}

.textBtn {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 13px;
}



@media screen and (min-width: 1600px) {
  .contenedorApps {
      max-width: 1200px;
  }
  .btn {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .logoSistema {
    height: 70px;
    width: 70px;
  }
  .textBtn {
      margin-top: -5px;
      margin-bottom: 5px;
      font-size: 16px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 80px;

  }
  .textDitesi {
    font-size: 30px;
    font-weight: 100;
  }

  .textDitesiCompleto {
    font-size: 18px;
}

  .textContacto {
   font-size: 16px;
  }

  .iconosContacto {
    font-size: 20px;
  }

}

@media screen and (max-width: 768px) {
  .contenedorApps {
    width: 100%;
    padding: 10px;
 }
 .contenidoFooter {
   padding: 20px;
   flex-direction: column;
   -webkit-flex-direction: column;
   -moz-flex-direction: column;
   width: 100%;
 }
 .bloqueFooter {
     width: 100%;
     margin-bottom: 20px;
 }

}
