<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>apps </mat-icon>
</button>
<mat-menu #menu="matMenu">
    <div class="titulo">Aplicaciones FCE</div>
    
    <button  class="btn color1" mat-button>
      <div class="subBtn">
          <i class="material-icons ico">alarm</i>
          <span class="textBtn">Asistencia</span>
      </div>
    </button>
    <button  class="btn color2" mat-button>
      <div class="subBtn">
          <i class="material-icons ico">mail_outline</i>
          <span class="textBtn">Correo</span>
      </div>
    </button>
     <button  class="btn color3" mat-button>
         <div class="subBtn">
            <i class="material-icons ico">cloud_queue </i>
            <span class="textBtn">Drive</span>
          </div>
      </button>
      <button  class="btn color2" mat-button>
          <div class="subBtn">
              <i class="material-icons ico">mail_outline</i>
              <span class="textBtn">Correo</span>
          </div>
        </button>
      <button  class="btn color3" mat-button>
          <div class="subBtn">
              <i class="material-icons ico">cloud_queue </i>
              <span class="textBtn">Drive</span>
            </div>
      </button>

    


  <!-- <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button> -->
</mat-menu>
