<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>apps </mat-icon>
</button>
<mat-menu #menu="matMenu">
    <div class="titulo">Aplicaciones FCE</div>

    <div class="contenedorApps">
      <button  class="btn" mat-button *ngFor="let item of items">
        <div class="subBtn">
          <img [src]="item.img"  height="45" width="45">
          <span class="textBtn">{{ item.nombre }}</span>
        </div>
      </button>
    </div>

    <button mat-button class="btnMasAplicaciones">Más Aplicaciones</button>

</mat-menu>
