.btn {
    color: rgba(0,0,0,0.87);
    /* background-color:#eee; */
}

.ico {
    font-size: 3em;
    margin-top: 10px;
}

.subBtn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;

}

.textBtn {
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.titulo {color: grey;
    margin-left: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}


.mat-menu-content {
}

.mat-menu-panel {
    padding: 5px;
}
