.btn {
    color: rgba(0,0,0,0.87);
    /* background-color:#eee; */
}

.ico {
    font-size: 3em;
    margin-top: 10px;
}

.subBtn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;

}

.textBtn {
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.titulo {
  color: #565656;
    background-color: #eee;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.btnMasAplicaciones {
  width: 100%;
  background-color: #eee;
  color: #565656;
  margin-top: 10px !important;
}


.mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-menu-panel {
    /* padding: 5px; */
  }
